* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
}

ul {
    list-style: none;
}

h1,
h2,
li,
a {
    font-family: 'Playfair Display';
}

p {
    font-family: 'Maven Pro';
}

a {
    text-decoration: none;
    color: none;
}

a:hover {
    color: #906090;
    font-weight: bold;
}

body {
    background-image: linear-gradient(to bottom right, #001848, #301860);
    border-left: #fff solid 1px;
    border-right: #fff solid 1px;
    padding: 0 5%;

}

section {
    margin: 0 60px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-top: solid 1px #906090;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid #906090 1px;
}

.header img {
    width: 40px;
    height: 40px;

    margin: 10px;
}

.header-navbar ul {
    display: flex;
    gap: 60px;
    margin-right: 100px;
}

.main-title {
    margin-top: 30px;

    font-size: 40px;
    letter-spacing: 6px;
}

.text-description {
    width: 60%;

    margin: 40px;

    font-size: 18px;
    letter-spacing: 3px;
    line-height: 30px;
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px;

    margin: 25px 30px;

    background-size: cover;
}