* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
}

html {
    background-image: linear-gradient(to bottom right, #001848, #301860);
}

ul {
    list-style: none;
}

h1,
h2,
li,
a {
    font-family: 'Playfair Display';
}

a {
    color: inherit;
}

p {
    font-family: 'Maven Pro';
}

a {
    text-decoration: none;
    color: none;
}

a:hover {
    color: #906090;
    font-weight: bold;
}

section {
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-top: solid 1px #906090;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 10vh;
    width: 85%;

    margin: auto;

    position: sticky;
    top: 0;

    border-bottom: solid #906090 1px;
}

.header img {
    width: 40px;
    height: 40px;

    margin: 10px;
}

.header ul {
    display: flex;
    justify-content: center;

    gap: 3vw;
    padding-right: 1vw;
}

.header li {
    font-size: 18px;
}

.main-title {
    margin-top: 30px;

    font-size: 44px;
    letter-spacing: 6px;
}

.text-description {
    width: 100%;

    font-size: 23px;
    letter-spacing: 3px;
    line-height: 30px;
    text-align: center;
}

.icon {
    height: 50px;
    width: 50px;

    margin: 25px 30px;

    background-size: contain;
}

@media (min-width:400px) {
    .header {
        width: 100%;

        margin: 0;
    }

    .header li {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    body {
        padding: 0 5vw;
        width: 90vw;
        margin: 0 auto;
    }

    .header {
        justify-content: space-between;

    }

    .header-navbar ul {
        justify-content: space-between;
        width: 100%
    }

    * li {
        font-size: 18px;
    }

    .icon {
        width: 100px;
        height: 100px;
    }
}