.presentation-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 65vh;
}

.preseentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.preseentation-text h1 {
    padding: 34px 0;

    font-size: 40px;
    letter-spacing: 10px;
    font-weight: bolder;
    text-align: center;

    background: -webkit-linear-gradient(right, aliceblue 0%, #301860 100%);

    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.preseentation-text h2 {
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
}

.presentation-section p {
    padding: 20px 75px;
    margin-top: 25px;

    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

.presentation-img img {
    max-width: auto;
    max-height: 350px;
    border-radius: 100px 5px;
}

.socialmedia-navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;

    border-bottom: solid #906090 1px;
    border-top: solid #906090 1px;
}

.socialmedia-navbar ul {
    display: flex;
    flex-direction: row;
    gap: 30px
}

.socialmedia-navbar li {
    display: flex;
}

.icon-link {
    height: 20px;
    width: auto;
    margin: auto 0;
    margin-right: 5px;
}

.projects-section {
    display: flex;
    height: fit-content;
    flex-direction: column;

    padding-bottom: 50rem;
}

.projects-img {
    background-image: url(../assets/icons/project.png);
    height: 10rem;
    width: 10rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projetcs-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetcs-introduction .main-title {
    text-align: center;
}

.text-description {
    margin-bottom: 20px;
}

.texto-destaque {
    font-weight: bold;
}

.projects-cards {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    row-gap: 3%;
    column-gap: 1%;
    justify-items: center;
    align-items: center;

    padding: 10px;

}


.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.card-img {
    height: 40vh;
    width: 100%;
    border-radius: 10px;

    background-position: center;
    background-size: cover;
}

.card-img:hover {
    border: solid 3px #906090;
    cursor: pointer;
}

.project-card h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 26px;
}

.project-card p {
    text-align: center;
    font-size: 22px;
    padding: 1px;

    height: 10vh;

    overflow-y: scroll;

}


.project-card p::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.project-card p::-webkit-scrollbar-thumb {
    background-color: #906090;
    border-radius: 5px;
}

@media (min-width: 650px) {
    .projects-section {
        padding-bottom: 15rem;
    }

    .projects-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card p {
        height: fit-content;
        max-height: 15vh;
    }
}

@media (min-width:900px) {

    .presentation-img {
        background-image: url('../assets/perfil2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        height: 90%;
        width: 30%;

        border-radius: 170px;

        margin-right: 5%;
    }

    .projects-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {

    .icon-link {
        height: 30px;
        width: 30px;
    }

    .projects-section {
        padding-bottom: 5rem;
    }

    .projects-cards {
        padding: 5px;
    }


    .text-description {
        width: 60%;
        margin: 0 40px;
        margin-bottom: 40px;
    }

    .projects-section {
        padding-bottom: 10rem;
    }
}

@media (min-width: 1500px) {
    .projects-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}