.about-me {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.about-me .main-title {
    margin-bottom: 10px;
}

.text-description {
    margin: 10px 0;
    font-size: 23px;
    letter-spacing: 5px;
    line-height: 40px;
    width: 60%;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icon-glass {
    background-image: url(../../assets/icons/search.png);
}

.icon1 {
    background-image: url(../../assets/icons/html-5.png);
}

.icon2 {
    background-image: url(../../assets/icons/css-3.png);
}

.icon3 {
    background-image: url(../../assets/icons/js.png);
}

.about-img {
    height: 100%;
}

.text-with-icon img {
    height: 25vh;
    width: auto;
    float: right;
}

.text-with-icon .text-description {
    width: 100%;
}


.title-icon {
    display: flex;
    align-items: center;
}

.education-icon {
    background-image: url(../../assets/icons/scholarship.png);
}

.complementary-icon {
    background-image: url(../../assets/icons/puzzle.png);
}

.course .text-description {
    width: fit-content;
    margin: 0;
    margin-left: 3%;
}

.smaller {
    font-size: 13px;
}

.smaller-title {
    font-size: 25px;
}

.medium {
    font-size: 20px;
}

.medium-title {
    font-size: 30px;
}

.bigger {
    font-size: 22px;
}

.course {
    padding: 15px 0;
}

.course :last-child {
    width: 60%;
    text-align: left;
}

@media (max-width: 1500px) {
    * {
        text-align: center;
    }

    .text-with-icon img {
        display: none;
    }

    .text-description {
        width: 100%;
    }

    .icon {
        height: 50px;
        width: 50px;
    }
}