.about-me {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.about-me .main-title {
    margin-bottom: 10px;
}

.text-description {
    margin: 10px 0;
    padding: 0 2vw;
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 40px;
    width: 100%;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icon-glass {
    background-image: url(../../assets/icons/search.png);
}

.icon1 {
    background-image: url(../../assets/icons/html-5.png);
}

.icon2 {
    background-image: url(../../assets/icons/css-3.png);
}

.icon3 {
    background-image: url(../../assets/icons/js.png);
}

.about-img {
    display: none;
}

.title-icon {
    display: flex;
    align-items: center;
}

.education {
    border-top: double 0.5vh #906090;
}

.education-icon {
    background-image: url(../../assets/icons/scholarship.png);
}

.complementary-icon {
    background-image: url(../../assets/icons/puzzle.png);
}

.course .text-description {
    width: fit-content;
    margin: 0;
    margin-left: 3%;
}

.smaller {
    font-size: 0.8rem;
}

.smaller-title {
    font-size: 1.5rem;
}

.medium {
    font-size: 1.2rem;
}

.medium-title {
    font-size: 2rem;
}

.bigger {
    font-size: 1.6rem;
    text-align: left;
}

.course {
    padding: 15px 0;
}

.course :last-child {
    width: 60%;
    text-align: left;
}

article :last-child {
    border-top: aliceblue 1px solid;
}

@media (min-width: 1200px) {

    .text-with-icon img {
        display: block;
    }

    .text-description {
        width: 60%;
    }

    .text-with-icon .text-description {
        width: 100%;
    }

    .text-with-icon img {
        height: auto;
        width: 300px;
        float: right;
    }

    .about-img {
        display: block;
        height: 100%;
    }
}